.icon-grid:before {
	content: '\e800';
}

/* '' */

.icon-lock:before {
	content: '\e801';
}

/* '' */

.icon-price:before {
	content: '\e802';
}

/* '' */

.icon-quality:before {
	content: '\e803';
}

/* '' */

.icon-right:before {
	content: '\e804';
}

/* '' */

.icon-speakerphone:before {
	content: '\e805';
}

/* '' */

.icon-worker:before {
	content: '\e806';
}

/* '' */

.icon-arrow:before {
	content: '\e807';
}

/* '' */

.icon-bubble:before {
	content: '\e808';
}

/* '' */

.icon-form:before {
	content: '\e809';
}

/* '' */

.icon-down-arrow:before {
	content: '\e80a';
}

/* '' */

.icon-home:before {
	content: '\e80b';
}

/* '' */

.icon-stack:before {
	content: '\e80c';
}

/* '' */

.icon-arrow-right:before {
	content: '\e80d';
}

/* '' */

.icon-mic:before {
	content: '\e80e';
}

/* '' */

.icon-pin:before {
	content: '\e80f';
}

/* '' */

.icon-at:before {
	content: '\e810';
}

/* '' */

.icon-question:before {
	content: '\e811';
}

/* '' */

.icon-search:before {
	content: '\e812';
}

/* '' */

.icon-close:before {
	content: '\e813';
}

/* '' */

.icon-check:before {
	content: '\e814';
}

/* '' */

.icon-menu:before {
	content: '\e815';
}

/* '' */

.icon-arrow-left:before {
	content: '\e816';
}

/* '' */

.icon-cw:before {
	content: '\e817';
}

/* '' */

