@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?39469249');
	src: url('../font/fontello.eot?39469249#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?39469249') format('woff2'),
       url('../font/fontello.woff?39469249') format('woff'),
       url('../font/fontello.ttf?39469249') format('truetype'),
       url('../font/fontello.svg?39469249#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39469249#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none; /* fix buttons height, for twitter bootstrap */
	line-height: 1em; /* Animation center compensation - margins should be symmetric */ /* remove if not needed */
	margin-left: .2em; /* you can be more comfortable with increased icons size */ /* font-size: 120%; */ /* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; /* Uncomment for 3D effect */ /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-grid:before {
	content: '\e800';
}

/* '' */

.icon-lock:before {
	content: '\e801';
}

/* '' */

.icon-price:before {
	content: '\e802';
}

/* '' */

.icon-quality:before {
	content: '\e803';
}

/* '' */

.icon-right:before {
	content: '\e804';
}

/* '' */

.icon-speakerphone:before {
	content: '\e805';
}

/* '' */

.icon-worker:before {
	content: '\e806';
}

/* '' */

.icon-arrow:before {
	content: '\e807';
}

/* '' */

.icon-bubble:before {
	content: '\e808';
}

/* '' */

.icon-form:before {
	content: '\e809';
}

/* '' */

.icon-down-arrow:before {
	content: '\e80a';
}

/* '' */

.icon-home:before {
	content: '\e80b';
}

/* '' */

.icon-stack:before {
	content: '\e80c';
}

/* '' */

.icon-arrow-right:before {
	content: '\e80d';
}

/* '' */

.icon-mic:before {
	content: '\e80e';
}

/* '' */

.icon-pin:before {
	content: '\e80f';
}

/* '' */

.icon-at:before {
	content: '\e810';
}

/* '' */

.icon-question:before {
	content: '\e811';
}

/* '' */

.icon-search:before {
	content: '\e812';
}

/* '' */

.icon-close:before {
	content: '\e813';
}

/* '' */

.icon-check:before {
	content: '\e814';
}

/* '' */

.icon-menu:before {
	content: '\e815';
}

/* '' */

.icon-arrow-left:before {
	content: '\e816';
}

/* '' */

.icon-cw:before {
	content: '\e817';
}

/* '' */

