html, body {
  font: 300 16px Lato,sans-serif;
  color: #252840;
  min-height: 100%; }

.blog-content-item {
  margin: 1.5rem auto; }

.off-canvas-content, .off-canvas-content {
  border: 0px;
  box-shadow: none; }

#footer {
  border: none;
  background-color: rgba(37, 40, 64, 0.9);
  position: relative;
  bottom: 0px; }

/*
div.list-blog-header{
  h4 {
    float: left;
    max-width: 90%;
  }
}*/
div.list-blog-padding {
  padding-top: 1rem;
  clear: both; }

#breadcrumbs {
  height: initial; }

.spacing-top {
  height: 9rem; }

a.main-nav__elem {
  color: #ccc; }

a.main-nav__elem:hover {
  color: #ccc; }

h1 {
  color: #252840 !important;
  font-family: 'Lato', sans-serif !important;
  font-size: 2.1rem; }

h2 {
  font-size: 1.25em;
  text-transform: uppercase !important;
  color: #252840 !important; }

h3, h4, h5, h6 {
  color: #252840 !important;
  font-family: 'Lato', sans-serif; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #252840 !important; }

a {
  color: #2eb3e4; }

p {
  padding-bottom: 1.6rem; }

.action {
  border-radius: 5px; }
  .action .subscribe {
    text-align: center;
    background-color: #fee37d;
    padding: 2.5rem 1rem 2rem 1rem; }

.button {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 3px;
  background-color: #252840;
  color: #fff;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  position: relative;
  font-size: .875em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; }

.button.full-width {
  width: 100%; }

.button:hover {
  background-color: #2eb3e4; }

span.list-blog-date {
  background-color: #fed331;
  color: #252840 !important;
  padding: 10px;
  float: right; }

.suggested {
  background-color: rgba(56, 60, 96, 0.9);
  color: #fff !important;
  padding: 2.5rem 1rem 2rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 3px; }
  .suggested h1, .suggested h2, .suggested h3, .suggested h4, .suggested h5, .suggested h6 {
    color: #fff !important; }
  .suggested li {
    border-top: 3px rgba(37, 40, 64, 0.9) solid;
    list-style: none;
    padding: 0.4rem 0rem 0.4rem 0rem; }
  .suggested ul {
    padding: 0px;
    margin: 0px; }
  .suggested li:last-child {
    border-bottom: 3px rgba(37, 40, 64, 0.9) solid; }
  .suggested a {
    size: 18px;
    color: #ddd; }

.sg-breadcrumb {
  border: none;
  padding-left: 0px; }

[type='text'], [type='password'], [type='date'],
[type='datetime'], [type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'],
[type='search'], [type='tel'], [type='time'], [type='url'],
[type='color'], textarea {
  border: 0px;
  height: 2.35rem;
  padding: 10px; }

.service-category__nav {
  width: 25%; }
  .service-category__nav a {
    color: #29285c; }

.service-category__nav__title:before {
  content: none; }

#sg-mainmenu .menu > li.active > a, #sg-mainmenu-mobile .menu > li.active > a {
  background-color: #fed331;
  color: #252840; }

#sg-mainmenu .menu > li > a, #sg-mainmenu-mobile .menu > li > a {
  background-color: #fff;
  color: #252840; }

#sg-mainmenu .menu > li > a, #sg-mainmenu-mobile .menu > li > a:hover {
  background-color: #fee37d;
  color: #252840; }

/*# sourceMappingURL=gosoumissions.css.map */
