/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* ==========================================================================
   General
   ========================================================================== */

* {
	box-sizing: border-box;
}

body {
	font: 300 16px Lato, sans-serif;
	color: #252840;
	overflow-x: hidden;
}

body:after {
	content: 'phone';
	position: fixed;
	bottom: -50px;
	left: 0;
	z-index: 1000;
	background: #fc0;
	padding: 0.4em;
	visibility: hidden;
}

body.dev:after {
	visibility: visible;
	bottom: 0;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.mobile-hidden {
	display: none;
}

.mobile-medium {
	display: block;
}

.large-up {
	display: none;
}

.block-link {
	cursor: pointer;
}

.hidden {
	display: none;
}

.rte :last-child {
	margin-bottom: 0;
}

button {
	outline: none;
}

.arrow-btn,
.arrow-btn--always {
	padding: 10px;
	display: block;
	position: relative;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.arrow-btn--always {
	padding-right: 40px;
}

.arrow-btn--always:after {
	content: "\e807";
	font-family: fontello;
	position: absolute;
	top: 12px;
	right: 10px;
	display: block;
}

.arrow-btn__icon {
	margin-right: 10px;
}

.arrow-btn__icon,
.arrow-btn__text {
	display: block;
	float: left;
}

.action-btn {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	background-color: #252840;
	color: #fff;
	padding: 10px 40px 10px 10px;
	display: inline-block;
	position: relative;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.action-btn:after {
	content: "\e804";
	font-family: fontello;
	position: absolute;
	top: 12px;
	right: 10px;
	display: block;
}

.action-btn:hover {
	background-color: #2eb3e4;
}

/* Modifiers
   ========================================================================== */

/* Header
   ========================================================================== */

.header__top {
	background-color: #252840;
	padding: 20px 0;
	text-align: center;
}

.main-nav__elem {
	font-weight: 300;
	font-size: 0.75em;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: 0 5px;
}

.header__bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	position: relative;
}

.logo {
	width: 16.66%;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	padding: 10px;
	background-color: #fff;
}

.logo img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.header__bottom__quote-btn {
	width: 66.66%;
	float: left;
	color: #29285c;
}

.header__bottom__quote-btn:hover {
	background-color: #f3f3f3;
}

.header__bottom__quote-btn:after {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	position: absolute;
}

.header__bottom__quote-btn .arrow-btn__icon,
.header__bottom__quote-btn .arrow-btn__text {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
}

.show-mobile-nav {
	width: 16.66%;
	float: left;
	display: block;
	background: #f3f3f3;
	border: none;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.show-mobile-nav:hover {
	background-color: #fff;
}

.mobile-nav {
	display: none;
}

.large-nav {
	width: 67.5%;
	height: 100%;
	float: left;
}

.large-nav .full-nav {
	height: 100%;
}

.service-category__nav:first-child .service-category__nav__title__icon {
	color: #fed331;
}

.service-category__nav:nth-child(2) .service-category__nav__title__icon {
	color: #2eb3e4;
}

.service-category__nav:nth-child(3) .service-category__nav__title__icon {
	color: #c5cd2c;
}

.service-category__nav__title {
	display: block;
	width: 100%;
	background-color: #f3f3f3;
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	padding: 20px calc(16.66% + 10px);
	font-size: 0.875em;
	color: #29285c;
	text-transform: uppercase;
	text-align: left;
	clear: both;
}

.service-category__nav__title:hover {
	background-color: #fff;
}

.service-category__nav__title:before {
	content: "\e80a";
	font-family: fontello;
	display: block;
	float: right;
}

.service-category__nav__title__icon,
.service-category__nav__title__text {
	display: block;
	float: left;
	margin-right: 5px;
}

.services-from-category {
	display: none;
	background-color: #f3f3f3;
}

.service-from-category__link {
	display: block;
	padding: 20px calc(16.66% + 10px);
	padding-left: calc(16.66% + 50px);
	background-repeat: no-repeat;
	background-position: calc(16.66% + 10px) center;
	background-size: 30px auto;
	color: #29285c;
	font-weight: 300;
	text-decoration: none;
}

.service-from-category__link:hover {
	background-color: #fed331;
}

.service-from-category__link:hover:after {
	content: "\e807";
	font-family: fontello;
	display: block;
	float: right;
}

/* Footer
   ========================================================================== */

.footer__top {
	background-color: #1a1c2c;
	padding: 20px 5%;
}

.footer__column {
	margin-bottom: 40px;
}

.footer__column__title {
	color: #fff;
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 400;
}

.footer__list {
	margin: 10px 0 0;
	padding: 0;
}

.footer__list__item {
	display: block;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	margin-bottom: 5px;
}

a.footer__list__item:hover {
	text-decoration: underline;
}

.footer__services .footer__column:first-child .footer__column__title__icon {
	color: #fed331;
}

.footer__services .footer__column:nth-child(2) .footer__column__title__icon {
	color: #2eb3e4;
}

.footer__services .footer__column:nth-child(3) .footer__column__title__icon {
	color: #c5cd2c;
}

.footer__infos {
	margin-bottom: 40px;
}

.footer__info {
	display: block;
	color: #fed331;
	text-decoration: none;
}

.footer__bottom {
	background-color: #252840;
	padding: 20px 5%;
	text-align: center;
}

.footer__bottom__nav {
	margin: 20px 0;
}

.footer__bottom__nav__elem {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	display: inline-block;
	margin-left: 5px;
}

.footer__bottom__nav__elem:before {
	content: "|";
	display: inline-block;
	margin-right: 5px;
}

.footer__bottom__nav__elem:first-child {
	margin-left: 0;
}

.footer__bottom__nav__elem:first-child:before {
	display: none;
}

.footer__bottom__nav__elem:hover {
	text-decoration: underline;
}

/* ==========================================================================
   Home
   ========================================================================== */

.home__top {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 40px 0 0;
}

.home__top__content {
	padding: 0 5%;
}

.home__top__title img {
	max-width: 100%;
	display: block;
}

.home__top__rte {
	font-size: 1.375em;
	color: #fff;
	margin-top: 20px;
}

.home__top__statement {
	padding: 0 60px;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 2.25em;
	color: #fff;
	position: relative;
	margin-top: 20px;
	line-height: 0.9;
}

.home__top__statement span {
	color: #fed331;
}

.home__top__statement:before,
.home__top__statement:after {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	content: "";
	display: inline-block;
	height: 3px;
	width: 50px;
	position: absolute;
	background-color: #fff;
}

.home__top__statement:before {
	left: 0;
}

.home__top__statement:after {
	right: 0;
}

.home__top__steps__list {
	margin: 40px 0 0;
	padding: 0;
	list-style-type: none;
}

.home__top__steps__list li {
	display: block;
}

.home__top__step {
	padding: 20px 0;
	background-color: #252840;
	text-align: center;
}

.home__top__step__content {
	padding: 0 5%;
}

.home__top__step__number {
	display: inline-block;
	font-size: 3em;
	color: #2eb3e4;
	position: relative;
	padding: 0 30px;
}

.home__top__step__number:before,
.home__top__step__number:after {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	content: "";
	display: inline-block;
	height: 3px;
	width: 20px;
	position: absolute;
	background-color: #2eb3e4;
}

.home__top__step__number:before {
	left: 0;
}

.home__top__step__number:after {
	right: 0;
}

.home__top__step__rte {
	color: #fff;
	font-size: 1.075em;
	margin-top: 10px;
	padding-bottom: 40px;
	border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
}

.home__top__action {
	background: #fed331 url(/images/form.png) no-repeat center 40px;
	padding: 20px 5%;
	text-align: center;
}

.home__top__action__content {
	padding: 86px 5% 0;
}

.home__top__step__button {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	background-color: #fff;
	color: #252840;
	border-radius: 3px;
	display: inline-block;
}

.home__top__step__button:hover {
	color: #fff;
	background-color: #252840;
}

.home__column__content {
	padding: 40px 5%;
	position: relative;
}

.home__column__image {
	width: 100%;
	display: block;
}

.home__column__small-image {
	margin: 0 auto 20px;
	display: block;
}

.home__column__title {
	font-size: 1.25em;
	text-transform: uppercase;
	color: #252840;
	position: relative;
	padding-left: 60px;
}

.home__column__title__icon {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	color: #2eb3e4;
	font-size: 2em;
	margin-right: 10px;
	display: block;
	position: absolute;
	left: 0;
}

.home__column__rte {
	margin: 20px 0;
	line-height: 1.5;
}

.home__column__video {
	position: relative;
	display: block;
}

.home__column__video:after {
	content: "";
	background: url(/images/play.png) no-repeat 0 0;
	width: 54px;
	height: 56px;
	display: block;
	position: absolute;
	top: calc(50% - 28px);
	left: calc(50% - 27px);
}

.home__column--colored:first-child {
	background-color: #fed331;
}

.home__column--colored:nth-child(2) {
	background-color: #2eb3e4;
}

.home__column--colored .home__column__title__icon {
	color: #fff;
}

.home__column__floating-image {
	display: block;
	margin: 20px auto;
}

.home__column__quote__rte {
	font-style: italic;
}

.home__column__quote__job {
	display: block;
}

.home__column__quotes {
	position: relative;
}

.home__column__quotes .slick-dots {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	top: -45px;
	right: 0;
}

.home__column__quotes .slick-dots li {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	display: inline-block;
	border: 1px solid #252840;
	margin: 0 5px;
}

.home__column__quotes .slick-dots li.slick-active {
	background-color: #252840;
}

.home__column__quotes .slick-dots button {
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.home__column__quote {
	outline: none;
}

.home__column__quote__author {
	font-weight: 700;
	display: inline-block;
	margin-top: 10px;
}

.home__column__quote__date {
	display: inline-block;
	margin-left: 5px;
}

.home__column__quote__date:before {
	content: "|";
	display: inline-block;
	margin-right: 5px;
}

.entrepreneur-row .action-btn {
	background-color: #fed331;
	color: #252840;
}

.entrepreneur-row .action-btn:hover {
	background-color: #2eb3e4;
}

.entrepreneur-column {
	background: url(/images/construction.jpg) no-repeat center center;
	background-size: cover;
}

.login-btn {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
	background-color: rgba(37, 40, 64, 0.5);
	color: #fff;
	padding: 10px 40px 10px 10px;
	display: inline-block;
	position: relative;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 10px;
}

.login-btn:hover {
	background-color: #2eb3e4;
}

.login-btn:after {
	content: "\e801";
	font-family: fontello;
	position: absolute;
	top: 12px;
	right: 10px;
	display: block;
}

/* ==========================================================================
   Pages
   ========================================================================== */

.page__intro {
	background: url(/images/page-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 5%;
}

.page__intro__title {
	color: #fff;
	font-size: 2.5em;
	font-weight: 300;
}

.page__intro__content {
	font-size: 1.25em;
	color: #fff;
	max-width: 425px;
}

.page__intro__content .action-btn {
	font-size: 1rem;
	background-color: #fed331;
	color: #252840;
}

.page__intro__content .action-btn:hover {
	background-color: #252840;
	color: #fff;
}

.page__section,
.page__section--alt {
	padding: 40px 5%;
	background-color: #fff;
	position: relative;
}

.page__section img,
.page__section--alt img {
	max-width: 100%;
}

.page__section--alt {
	background-color: #f3f3f3;
}

.page__section__column--down {
	position: relative;
	margin-bottom: -40px;
}

.page__section__column--up--right {
	position: relative;
	right: -5%;
}

.page__section__title,
.page__section__title--no-icon {
	font-size: 1.25em;
	text-transform: uppercase;
	color: #252840;
	position: relative;
	padding-left: 60px;
	font-weight: 300;
}

.page__section__title--no-icon {
	padding-left: 0;
	text-align: center;
	max-width: 435px;
	margin-left: auto;
	margin-right: auto;
}

.page__section__title__icon {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	color: #2eb3e4;
	font-size: 2em;
	margin-right: 10px;
	display: block;
	position: absolute;
	left: 0;
}

.page__section__rte {
	line-height: 1.5;
}

.page__section__rte ul {
	margin-left: 0;
	padding-left: 0;
}

.page__section__rte ul li {
	list-style-type: none;
	border-bottom: 1px solid #ececec;
	padding: 10px 0 10px 20px;
	position: relative;
	font-weight: 400;
	font-size: 0.875em;
}

.page__section__rte ul li:before {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	height: 8px;
	width: 8px;
	border-radius: 8px;
	content: "";
	display: block;
	border: 2px solid #fed331;
	position: absolute;
	left: 0;
}

.page__section__rte ul li:last-child {
	border-bottom: none;
}

.advantages {
	background-color: #686c78;
	padding: 40px 5%;
	position: relative;
}

.advantages .advantages__title,
.advantages .advantage__title {
	color: #fed331;
}

.advantage {
	margin-top: 40px;
	padding-bottom: 20px;
	border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
	text-align: center;
}

.advantage:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.advantage__title {
	text-transform: uppercase;
	font-size: 1.075em;
	font-weight: 300;
}

.advantage__content {
	color: #fff;
}

.advantages__quote {
	margin-top: 40px;
	text-align: center;
	padding: 0 90px 5px;
	background: url(/images/free.png) no-repeat right center;
}

.advantages__quote .action-btn {
	color: #252840;
	background-color: #fed331;
}

.advantages__quote .action-btn:hover {
	color: #fed331;
	background-color: #252840;
}

.page_section__infos {
	margin-top: 40px;
}

.page_section__infos dt {
	font-weight: 300;
	width: 170px;
	padding: 10px 0;
	font-size: 1.075em;
}

.page_section__infos dd {
	font-weight: 300;
	display: block;
	margin: 0;
	padding: 10px 0 10px 10px;
	border-bottom: 2px dashed rgba(37, 40, 64, 0.2);
	font-size: 1.075em;
}

.page_section__infos dd a {
	color: inherit;
	text-decoration: none;
}

.page__section__box {
	background-color: #252840;
	padding: 35px;
	color: #fff;
}

.page__section__box h2 {
	color: #fff;
}

.page__section__box .page__section__title__icon {
	color: #fed331;
}

.page__section__button {
	margin-top: 20px;
}

.page__section__block {
	padding: 20px 5%;
}

.page__section__block__title {
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 700;
}

/* ==========================================================================
   Service
   ========================================================================== */

.service__intro,
.service__intro--green {
	text-align: center;
	background: url(/images/city.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 5%;
}

.service__intro--green {
	background-image: url(/images/green-city.jpg);
}

.service__title {
	font-size: 2.5em;
	font-weight: 300;
}

.service__intro__content {
	font-size: 1.25em;
	max-width: 750px;
	margin: 0 auto;
}

.service__intro__actions {
	margin-top: 20px;
}

.video-link {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	display: block;
	border-radius: 3px;
	border: 1px solid #252840;
	color: #252840;
	padding: 10px 40px 10px 10px;
	display: inline-block;
	position: relative;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.video-link:after {
	content: "\e804";
	font-family: fontello;
	position: absolute;
	top: 12px;
	right: 10px;
	display: block;
}

.video-link:hover {
	background-color: #252840;
	color: #fff;
}

.service-quotes {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	display: block;
	border-radius: 3px;
	background-color: #252840;
	color: #fff;
	padding: 10px 40px 10px 10px;
	display: inline-block;
	position: relative;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 20px;
}

.service-quotes span {
	color: #fed331;
}

.service-quotes:after {
	content: "\e804";
	color: #fed331;
	font-family: fontello;
	position: absolute;
	top: 12px;
	right: 10px;
	display: block;
}

.service-quotes:hover {
	background-color: #fff;
	color: #252840;
}

.service__slider {
	position: relative;
}

.service__slide {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100vw;
	position: relative;
}

.service__slide img {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: relative;
	left: 50%;
	top: 50%;
	min-height: 100%;
	min-width: 100%;
}

.service__slide:after {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid #fed331;
	box-sizing: border-box;
	opacity: 0;
}

.service__slide:before {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: relative;
	left: 50%;
	top: 50%;
	height: 45px;
	width: 45px;
	border-radius: 45px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	content: "\e810";
	font-family: fontello;
	background-color: #fed331;
	display: block;
	color: #252840;
	position: absolute;
	z-index: 10;
	text-align: center;
	line-height: 45px;
	font-size: 1.8em;
	opacity: 0;
}

.service__slide:hover:after {
	opacity: 1;
}

.service__slide:hover:before {
	opacity: 1;
}

.service__slider__nav__prev,
.service__slider__nav__next {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 50%;
	float: left;
	background-color: #768195;
	color: #252840;
	display: block;
	text-align: center;
	padding: 10px;
	border: none;
}

.service__slider__nav__prev:hover,
.service__slider__nav__next:hover {
	color: #768195;
	background-color: #252840;
}

.service__slider__nav__prev {
	border-right: 1px solid rgba(37, 40, 64, 0.2);
}

.tips {
	counter-reset: tip;
}

.tip {
	counter-increment: tip;
	margin-top: 40px;
	padding-bottom: 20px;
	border-bottom: 2px dashed rgba(37, 40, 64, 0.2);
}

.tip:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.tip:before {
	height: 45px;
	width: 45px;
	border-radius: 45px;
	content: counter(tip);
	border: 1px solid #2eb3e4;
	display: block;
	margin: 0 auto 40px;
	font-size: 1.875em;
	color: #2eb3e4;
	text-align: center;
	line-height: 45px;
}

/* ==========================================================================
   About
   ========================================================================== */

.articles__list {
	margin-top: 40px;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.article {
	padding: 20px 0;
	text-align: center;
	border-bottom: 2px dashed rgba(37, 40, 64, 0.2);
}

.article:first-child {
	border-top: 2px dashed rgba(37, 40, 64, 0.2);
}

.article__title {
	font-size: 1em;
	font-weight: 400;
	color: #252840;
	margin-bottom: 0;
}

.article__title a {
	text-decoration: none;
	color: inherit;
}

.article__link {
	margin-top: 20px;
}

.article__link .action-btn {
	background-color: transparent;
	border: 1px solid #252840;
	color: #252840;
}

.article__link .action-btn:hover {
	background-color: #252840;
	color: #fff;
}

/* ==========================================================================
   Contact
   ========================================================================== */

.contact-form {
	margin-top: 40px;
}

.form__line {
	margin-bottom: 20px;
}

.form__label {
	font-size: 0.875em;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
}

.form__input {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 3px;
	color: #252840;
}

textarea.form__input {
	height: 150px;
	resize: none;
}

.form__button .action-btn {
	background-color: #fed331;
	border: none;
	color: #252840;
}

.form__button .action-btn:hover {
	background-color: #2eb3e4;
}

.form__message {
	margin-bottom: 20px;
}

.success-message {
	color: limegreen;
}

.error-message {
	color: red;
}

/* ==========================================================================
   Entrepreneurs
   ========================================================================== */

.subscription-form {
	margin-top: 40px;
}

.subscription-form .action-btn {
	background-color: #252840;
	color: #fff;
}

.subscription-form .action-btn:hover {
	background-color: #fed331;
}

.login-box {
	background-color: #252840;
	color: #fff;
	padding: 35px;
	margin-top: 40px;
}

.login-box h2 {
	color: #fff;
}

.login-box .action-btn {
	height: 38px;
	margin-top: 22px;
	float: right;
}

.login-box .action-btn:after {
	right: 20px;
}

.login-box .form__lines {
	width: 90%;
	float: left;
}

.login-box .form__line {
	width: 50%;
	float: left;
	padding-right: 10px;
}

.login-box .form__line:nth-child(2n) {
	padding-right: 0;
	padding-left: 10px;
}

.login-form {
	margin-top: 40px;
}

.question__title {
	font-weight: 400;
}

@media only screen and (min-width: 40.063em) {

body:after {
	content: 'tablet';
}

.mobile-hidden {
	display: block;
}

.mobile-only {
	display: none;
}

.arrow-btn:after,
.arrow-btn--always:after {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	content: "\e807";
	font-family: fontello;
	position: absolute;
	right: 0;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

.footer__column {
	width: 33.33%;
	float: left;
}

.footer__logo {
	float: left;
}

.footer__logo__text {
	margin-left: 10px;
	position: relative;
	top: -10px;
}

.footer__spektrum {
	float: right;
	clear: both;
}

.footer__bottom__nav {
	float: right;
	text-align: center;
}

.home__top__statement {
	display: inline-block;
	width: auto;
}

.home__top__step {
	width: 25%;
	float: left;
}

.home__top__step__content {
	border-right: 2px dashed rgba(255, 255, 255, 0.2);
}

.home__top__step:nth-child(3) .home__top__step__content {
	border-right: none;
}

.home__top__step__rte {
	border-bottom: none;
}

.home__top__action {
	width: 25%;
	float: left;
}

.home__column,
.home__column--colored {
	width: 50%;
	float: left;
	overflow: hidden;
	position: relative;
}

.home__column__image {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: relative;
	left: 50%;
	top: 50%;
	min-height: 100%;
	width: auto;
	min-width: 100%;
	display: block;
}

.bottom-image {
	position: absolute;
	right: 0;
	left: auto;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	min-width: 0;
}

.home__column__video {
	height: 100%;
}

.entrepreneur-row {
	background: url(/images/construction.jpg) no-repeat center center;
	background-size: cover;
}

.entrepreneur-row .home__column__rte {
	color: rgba(255, 255, 255, 0.7);
}

.entrepreneur-row .home__column__title {
	color: #fff;
}

.entrepreneur-column {
	background: none;
	height: 548px;
}

.login-btn {
	background-color: rgba(255, 255, 255, 0.5);
	color: #252840;
}

.page__section__column,
.page__section__column--up,
.page__section__column--up--right,
.page__section__column--down {
	width: 50%;
	float: left;
	padding: 0 5%;
}

.page__section__column--up--right {
	right: -11.7%;
}

.advantage {
	width: 33.33%;
	padding: 0 5%;
	float: left;
	border-bottom: none;
	border-right: 2px dashed rgba(255, 255, 255, 0.2);
}

.advantage:last-child {
	border-right: none;
}

.advantages__quote {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	left: 50%;
	width: auto;
	display: inline-block;
}

.service-quotes {
	margin-left: 20px;
}

.service__slide {
	height: 33vw;
}

.tip {
	width: 33.33%;
	padding: 0 5%;
	float: left;
	border-bottom: none;
	border-right: 2px dashed rgba(37, 40, 64, 0.2);
}

.tip:last-child {
	border-right: none;
}

.article__logo {
	width: 150px;
	float: left;
}

.article__info {
	width: calc(66.66% - 150px);
	float: left;
	padding: 0 20px;
	text-align: left;
}

.article__title {
	margin-top: 0;
}

.article__link {
	width: 33.33%;
	float: left;
	margin-top: 0;
	text-align: right;
}

}

@media only screen and (min-width: 64em) {

body:after {
	content: 'desktop';
}

.mobile-medium {
	display: none;
}

.large-up {
	display: block;
}

.center-wrapper {
	width: 95%;
	margin: 0 auto;
}

header {
	position: fixed;
	width: 100%;
	z-index: 2000;
	top: 0;
}

.header__top {
	position: relative;
	padding: 0;
	background-color: rgba(118, 129, 149, 0.2);
}

.header__top:before,
.header__top:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.header__top:before {
	left: 0;
	background-color: #252840;
}

.header__top:after {
	right: 0;
	background-color: #464b5f;
	clear: both;
}

.header__top .center-wrapper {
	background-color: rgba(37, 40, 64, 0.9);
}

.fb-like {
	float: left;
	padding: 20px 0;
	width: 22.5%;
	text-align: left;
	padding-left: 2.5%;
}

.main-nav {
	float: left;
	width: 55%;
	text-align: center;
	line-height: 60px;
}

.header__bottom {
	position: relative;
	background-color: #fed331;
}

.header__bottom:before,
.header__bottom:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.header__bottom:before {
	left: 0;
	background-color: #f3f3f3;
}

.header__bottom:after {
	right: 0;
	background-color: #f5cc49;
	clear: both;
}

.logo {
	width: 10%;
}

.entrepreneur-btn {
	width: 22.5%;
	float: right;
	background-color: rgba(118, 129, 149, 0.2);
	color: #fff;
	height: 60px;
}

.entrepreneur-btn .arrow-btn__text,
.entrepreneur-btn .arrow-btn__icon {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
}

.header__bottom__quote-btn {
	width: 22.5%;
	float: right;
	background-color: #fed331;
}

.service-category__nav {
	width: 33.33%;
	float: left;
	height: 100%;
}

.service-category__nav__title {
	height: 100%;
	background-color: #fff;
}

.service-category__nav__title:before {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	content: "\e80b";
	font-size: 0.7em;
	position: relative;
	top: 4px;
}

.service-category__nav__title.active:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.services-from-category {
	position: relative;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding: 40px 2.5%;
}

.services-from-category:before,
.services-from-category:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.services-from-category:before {
	left: 0;
	background-color: #e8e8e8;
}

.services-from-category:after {
	right: 0;
	background-color: #e8e8e8;
	clear: both;
}

.service-from-category__link {
	width: 33.33%;
	float: left;
	padding: 20px;
	padding-left: 60px;
	background-position: 20px center;
}

.footer__top {
	position: relative;
}

.footer__top:before,
.footer__top:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.footer__top:before {
	left: 0;
	background-color: #181928;
}

.footer__top:after {
	right: 0;
	background-color: #181928;
	clear: both;
}

.footer__column {
	width: 20%;
}

.footer__bottom {
	position: relative;
	padding: 10px 5%;
}

.footer__bottom:before,
.footer__bottom:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.footer__bottom:before {
	left: 0;
	background-color: #222438;
}

.footer__bottom:after {
	right: 0;
	background-color: #222438;
	clear: both;
}

.footer__logo {
	width: 25%;
	text-align: left;
	padding-top: 10px;
}

.footer__spektrum {
	clear: none;
	width: 25%;
	padding-top: 17px;
}

.footer__bottom__nav {
	width: 50%;
	float: left;
}

.home__top {
	height: 100vh;
	position: relative;
}

.home__top__content {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	width: 45%;
	margin-top: -70px;
}

.home__top__steps__list {
	position: relative;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.home__top__steps__list:before,
.home__top__steps__list:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.home__top__steps__list:before {
	left: 0;
	background-color: #252840;
}

.home__top__steps__list:after {
	right: 0;
	background-color: #f5cc49;
	clear: both;
}

.home__top__step {
	background-color: rgba(37, 40, 64, 0.9);
}

.home__top__step__content {
	padding: 0 10%;
}

.home__top__action {
	background-position: center 25px;
}

.home__top__action__content {
	padding-top: 70px;
}

.home__row {
	position: relative;
}

.home__row:before,
.home__row:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.home__row:before {
	left: 0;
	background-color: rgba(232, 232, 232, 0.4);
}

.home__row:after {
	right: 0;
	background-color: rgba(37, 40, 64, 0.2);
	clear: both;
}

.home__row:nth-child(2n) {
	position: relative;
}

.home__row:nth-child(2n):before,
.home__row:nth-child(2n):after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.home__row:nth-child(2n):before {
	left: 0;
	background-color: rgba(37, 40, 64, 0.2);
}

.home__row:nth-child(2n):after {
	right: 0;
	background-color: rgba(232, 232, 232, 0.4);
	clear: both;
}

.with-colors,
.with-colors:nth-child(2n) {
	position: relative;
}

.with-colors:before,
.with-colors:after,
.with-colors:nth-child(2n):before,
.with-colors:nth-child(2n):after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.with-colors:before,
.with-colors:nth-child(2n):before {
	left: 0;
	background-color: #f5cc49;
}

.with-colors:after,
.with-colors:nth-child(2n):after {
	right: 0;
	background-color: #21a7d6;
	clear: both;
}

.home__column__content {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: relative;
	top: 50%;
	padding: 100px 10%;
}

.home__column__small-image {
	margin-bottom: 60px;
}

.home__column__rte {
	margin: 40px 0;
}

.home__column--colored .home__column__content {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	left: 0;
	top: 0;
}

.home__column__floating-image {
	float: left;
	margin-right: 20px;
}

.home__column__quote--floating {
	float: left;
	width: calc(100% - 136px);
	margin-top: 40px;
}

.home__column__quotes {
	margin-top: 40px;
	padding-bottom: 20px;
}

.entrepreneur-row {
	position: relative;
}

.entrepreneur-row:before,
.entrepreneur-row:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.entrepreneur-row:before {
	left: 0;
	background-color: rgba(37, 40, 64, 0.2);
}

.entrepreneur-row:after {
	right: 0;
	background-color: rgba(37, 40, 64, 0.2);
	clear: both;
}

.login-btn {
	margin-left: 20px;
}

.page__intro {
	position: relative;
	padding: 180px 5% 80px;
}

.page__intro:before,
.page__intro:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.page__intro:before {
	left: 0;
	background-color: rgba(37, 40, 64, 0.05);
}

.page__intro:after {
	right: 0;
	background-color: transparent;
	clear: both;
}

.page__section,
.page__section--alt {
	position: relative;
	padding: 100px 5%;
}

.page__section:before,
.page__section:after,
.page__section--alt:before,
.page__section--alt:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.page__section:before,
.page__section--alt:before {
	left: 0;
	background-color: rgba(232, 232, 232, 0.4);
}

.page__section:after,
.page__section--alt:after {
	right: 0;
	background-color: rgba(232, 232, 232, 0.4);
	clear: both;
}

.page__section__column--down {
	margin-bottom: -100px;
}

.page__section__column--up,
.page__section__column--up--right {
	position: relative;
	top: -300px;
	z-index: 1000;
	margin-bottom: -300px;
}

.page__section__column--full {
	padding: 0 5%;
}

.advantages {
	position: relative;
	padding: 100px 5%;
}

.advantages:before,
.advantages:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.advantages:before {
	left: 0;
	background-color: rgba(37, 40, 64, 0.05);
}

.advantages:after {
	right: 0;
	background-color: rgba(37, 40, 64, 0.05);
	clear: both;
}

.advantages__title {
	margin-bottom: 40px;
}

.advantages__quote {
	margin-top: 100px;
}

.page_section__infos dt {
	float: left;
	clear: left;
	border-bottom: 2px dashed rgba(37, 40, 64, 0.2);
}

.page_section__infos dd {
	float: left;
	width: calc(100% - 170px);
}

.page__section__block {
	width: 50%;
	float: left;
}

.service__intro,
.service__intro--green {
	position: relative;
	min-height: 70vh;
	padding-top: 200px;
	padding-bottom: 100px;
}

.service__intro:before,
.service__intro:after,
.service__intro--green:before,
.service__intro--green:after {
	content: "";
	width: 2.5%;
	position: absolute;
	top: 0;
	height: 100%;
	display: block;
	background-blend-mode: multiply;
	z-index: 1900;
}

.service__intro:before,
.service__intro--green:before {
	left: 0;
	background-color: rgba(37, 40, 64, 0.05);
}

.service__intro:after,
.service__intro--green:after {
	right: 0;
	background-color: rgba(37, 40, 64, 0.05);
	clear: both;
}

.service__slide {
	height: 20vw;
}

.service__slider__nav__prev,
.service__slider__nav__next {
	position: absolute;
	height: 100%;
	width: 2.5%;
	top: 0;
	font-size: 2em;
}

.service__slider__nav__prev i:before,
.service__slider__nav__next i:before {
	width: auto;
	margin: 0;
}

.service__slider__nav__prev {
	left: 0;
	border: none;
}

.service__slider__nav__next {
	right: 0;
}

.tips {
	margin-top: 40px;
}

.subscription-form .form__line {
	width: 50%;
	float: left;
	padding-right: 20px;
}

.subscription-form .form__line:nth-child(2n) {
	padding-right: 0;
	padding-left: 20px;
}

.login-box {
	width: 45%;
	position: absolute;
	right: 5%;
	top: 240px;
}

}

