<!DOCTYPE html>
<html lang="en">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% do assets.addCss('theme://css/gosoumissions.css',0) %}
    {% block stylesheets %}
        {% include 'partials/css.html.twig' %}
        {% if theme_config.css_bones.enabled %}
            {% do assets.addCss('theme://css/bones.css',110) %}
        {% endif %}
        {% if theme_config.css_custom.enabled %}
            {% do assets.addCss('theme://css/custom.css',10) %}
        {% endif %}

        {% if page.header.animate_css == "disabled" %}
        {% elseif page.header.animate_css == "enabled" or theme_config.animate_css.enabled %}
            {% do assets.addCss('theme://css/animate.css',115) %}
        {% endif %}
        {% if page.header.fontawesome == "disabled" %}
        {% elseif page.header.fontawesome == "enabled" or theme_config.fontawesome.enabled %}
            {% do assets.addCss('theme://css/font-awesome.min.css',115) %}
        {% endif %}
        {% if theme_config.site_title.enabled and theme_config.google_fonts_logo.enabled %}
            <link href="//fonts.googleapis.com/css?family=Special+Elite&text={{ site.title|e }}" type="text/css" rel="stylesheet" />
        {% endif %}
    {% endblock %}
    {{ assets.css() }}
    {% do assets.addJs('jquery',109) %}
    {{ assets.js() }}
{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-{{ theme_config.mobilemenu_position }}" id="offCanvas" data-off-canvas data-position="{{ theme_config.mobilemenu_position }}">
            <div class="row sg-center sg-spacer-small">
                <div class="sg-content">
                    {% set content = pages.find('/mobilemenu').content %}
                    {% if content %}
                        {{ content }}
                    {% endif %}
                    {% if config.plugins.langswitcher.enabled %}
                    <br />
                    {% include 'partials/langswitcher.html.twig' %}
                    {% endif %}
                </div>
            </div>
            <div id="mobile-navigation">
                {% block mobile_navigation %}
                {% endblock %}
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>

{% block header %}
<header>
        {% include 'partials/navigation.html.twig' %}
    <div class="show-for-small-only">
        
    {% include 'partials/navigation_mobile.html.twig' %}
    </div>

</header>



        {% endblock %}

        {% block body %}
        <section id="body" class="{{ class }}">
            <div class="show-for-medium spacing-top">

            </div>
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}
            {% set content = pages.find('/footer').content %}
            {% if content %}
            <footer id="footer">
                <div class="row sg-center">
                     {{ content }}
                </div>
                <div class="row">
                    <div class="column small-12 medium-9 medium-centered text-center">
                    </div>
                </div>

            </footer>
            {% endif %}
        {% endblock %}

        {% block bottom %}
            {% block javascripts %}
                {% include 'partials/js.html.twig' %}
                {% do assets.addJs('theme://bower_components/what-input/what-input.js',{'priority':105, 'group':'bottom'}) %}
                {% do assets.addJs('theme://js/blog.js',{'priority':101, 'group':'bottom'}) %}
                {% if page.header.wow_js == "disabled" %}
                {% elseif page.header.wow_js == "enabled" or theme_config.wow_js.enabled %}
                    {% do assets.addJs('theme://js/wow.js',{'priority':101, 'group':'bottom'}) %}
                    {% do assets.addInlineJs('var wow = new WOW();wow.init();',{'priority':99, 'pipeline':false, 'group':'bottom'}) %}
                {% endif %}
                {% if page.header.google_prettify == "disabled" %}
                {% elseif page.header.google_prettify == "enabled" or theme_config.google_prettify.enabled %}
                    {% do assets.addJs('https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js',{'priority':100, 'group':'bottom'}) %}
                {% endif %}
            {% endblock %}
            {{ assets.js('bottom') }}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
