{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}">
            <a href="{{ p.url }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul class="vertical menu submenu">
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}



    <div class="header__top">
        <div class="center-wrapper clear">
            <div class="large-up">
                    <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/GoSoumissionscom?fref=ts" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=396&amp;href=https%3A%2F%2Fwww.facebook.com%2FGoSoumissionscom%3Ffref%3Dts&amp;layout=button_count&amp;locale=fr_CA&amp;sdk=joey&amp;share=true&amp;show_faces=false">
                        <!--<span style="vertical-align: bottom; width: 171px; height: 20px;"><iframe name="f29c07411" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="./GoSoumissions_files/like.html" style="border: none; visibility: visible; width: 171px; height: 20px;" class=""></iframe>
                        </span>-->
                    </div>
            </div>
            <nav class="main-nav">
                <a class="main-nav__elem" href="#">Accueil</a>
                <a class="main-nav__elem" href="#">Certification</a>
                <a class="main-nav__elem" href="#">À propos</a>
                <a class="main-nav__elem" href="#">Contact</a>
            </nav>
            <div class="large-up">
                <a href="#" class="arrow-btn entrepreneur-btn clear">
                    <i class="icon-worker arrow-btn__icon"></i>
                    <span class="arrow-btn__text">Vous êtes entrepreneur?</span>
                </a>

            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="center-wrapper clear" data-same-height-elems="true">
            <a href="http://gosoumissions.demo.spk.rocks/#home-top" class="logo" data-same-height="" style="height: 73px;">
                <img src="{{ url('theme://images/medium-logo.png', true) }}" alt="Go Soumissions">
            </a>
            <div class="large-up large-nav" data-same-height="" style="height: 73px;">
                <nav class="full-nav  clear">
                  {% for page in pages.children.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                      <div class="service-category__nav">
                        <button class="service-category__nav__title clear">
                            <i class="icon-grid service-category__nav__title__icon"></i>
                            <span class="service-category__nav__title__text"><a href="{{ page.url }}">
                        {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                        {{ page.menu }}
                      </a></span>
                        </button>
                        
                    </div>
                  {% endfor %}
                    <div class="mobile-medium">
                        <a href="http://gosoumissions.demo.spk.rocks/#" class="service-category__nav__title entrepreneur-btn clear">
                            <i class="icon-worker service-category__nav__title__icon"></i>
                            <span class="service-category__nav__title__text">Vous êtes entrepreneur?</span>
                        </a>
                    </div>
                </nav>

            </div>
            <a href="http://gosoumissions.demo.spk.rocks/app" class="arrow-btn header__bottom__quote-btn clear" data-same-height="" style="height: 73px;">
                <i class="icon-form arrow-btn__icon"></i>
                <span class="arrow-btn__text">Obtenez des soumissions</span>
            </a>
        </div>
    </div>




<!--

<nav id="sg-mainmenu">
  <ul class="{% if theme_config.dropdown.enabled %}dropdown {% endif %}menu"{% if theme_config.dropdown.enabled %} data-dropdown-menu{% endif %}>
    {% if theme_config.dropdown.enabled %}
      {{ _self.loop(pages) }}
    {% else %}
      {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}">
          <a href="{{ page.url }}">
            {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
            {{ page.menu }}
          </a>
        </li>
      {% endfor %}
    {% endif %}
    <!-- {% for mitem in site.menu %}
      <li>
        <a href="{{ mitem.url }}">
          {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
          {{ mitem.text }}
        </a>
      </li>
    {% endfor %} -->
    <!--{% if config.plugins.login.enabled and grav.user.username %}
      <li><i class="fa fa-lock"></i> {% include 'partials/login-status.html.twig' %}</li>
    {% endif %}
  </ul>
</nav> -->