html,body {
  font: 300 16px Lato,sans-serif;
  color: #252840;
  min-height: 100%;
}

.blog-content-item {
    margin: 1.5rem auto;
}

.off-canvas-content, .off-canvas-content {
  border:0px;
  box-shadow: none;
}

#footer {
  border: none;
  background-color: rgba(37, 40, 64, 0.9);
  position: relative;
  bottom:0px;
}

/*
div.list-blog-header{
  h4 {
    float: left;
    max-width: 90%;
  }
}*/

div.list-blog-padding{
  padding-top: 1rem;
  clear:both;
}


#breadcrumbs {
  height: initial;
}

.spacing-top {
  height: 9rem;
}