.button {
  -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 3px;
    background-color: #252840;
    color: #fff;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    position: relative;
    font-size: .875em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.button.full-width {
  width: 100%;
}

.button:hover {
  background-color: #2eb3e4;
}
