// date time square //
span.list-blog-date {
  background-color: #fed331;
  color: #252840 !important;
  padding: 10px;
  float: right;
}


//suggested posts

.suggested {
  background-color: lighten(rgba(37, 40, 64, 0.9), 10%);
  color: #fff !important;
  padding: 2.5rem 1rem 2rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  h1, h2, h3, h4, h5, h6 {
      color: #fff !important;
  }
  li {
  border-top: 3px rgba(37, 40, 64, 0.9) solid;
  list-style: none;
  padding: 0.4rem 0rem 0.4rem 0rem;

  }

  ul {
    padding: 0px;
    margin: 0px;
  }

  li:last-child {
    border-bottom: 3px rgba(37, 40, 64, 0.9) solid;
  }
  a {
    size: 18px;
    color: #ddd;
  }

}

//breadcrumbs
.sg-breadcrumb {
  border: none;
  padding-left: 0px;
}