[type='text'], [type='password'], [type='date'],
[type='datetime'], [type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'],
[type='search'], [type='tel'], [type='time'], [type='url'],
[type='color'], textarea {
  border: 0px;
  height: 2.35rem;
  padding: 10px;
}