.service-category__nav {
	width: 25%;
	a {
		    color: #29285c;
	}
}


.service-category__nav__title:before {
	content: none;
}




#sg-mainmenu .menu > li.active > a, #sg-mainmenu-mobile .menu > li.active > a {
  background-color: #fed331;
  color: #252840;
}

#sg-mainmenu .menu > li > a, #sg-mainmenu-mobile .menu > li > a {
  background-color: #fff;
  color: #252840;
}

#sg-mainmenu .menu > li > a, #sg-mainmenu-mobile .menu > li > a:hover {
  background-color: lighten(#fed331, 15%);
  color: #252840;
}