
a.main-nav__elem {
  color: #ccc;
}

a.main-nav__elem:hover {
  color: #ccc;
}
h1 {
    color: #252840 !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 2.1rem;
}
h2 {
  font-size: 1.25em;
    text-transform: uppercase !important;
    color: #252840 !important;
}

h3,h4,h5,h6{
    color: #252840 !important;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  a {
    color: #252840 !important;
  }
}


a {
  color: #2eb3e4;
}


p {
  padding-bottom: 1.6rem;
}