<div class="action">
	<div class="subscribe">
		<h4>Nos entrepreneurs recoivent cette infolettre, Joignez-les</h1>
			<form action="//Gosoumissions.us3.list-manage.com/subscribe/post?u=123a55ad225f86ae2dc8f32ce&amp;id=aa65b797eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="row">
					<div class="column small-12 medium-8 small-centered">
						<div class="row">
							<div class="column medium-8 small-12 ">
							   <div id="mc_embed_signup_scroll">
									<div class="mc-field-group">
										<label style="display:none" for="mce-EMAIL">Adresse Email </label>
										<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Adresse email">
									</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								</div>
							</div>
							<div class="column medium-4 small-12 ">

							    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_123a55ad225f86ae2dc8f32ce_aa65b797eb" tabindex="-1" value=""></div>
							   	<div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</div>
				    </div>
				</div>
			</form>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		</div>
	</div>	
</div>
<br>