<h1>Je suis un call to action laid</h1>
<script type="text/javascript">
	function test(){
		alert("yo merci de m'avoir cliquer. Au lieu d'un message on aurais pu demander le email et l,envoyer dans la liste mailgun!")
	}
</script>
<h2><a class="button" onclick="test()">yep yep on peut me cliquer</a></h2>